.loginPage {
    background:url(../../../assets/login/loginBG.png) no-repeat;
    background-color: #041A54;
    opacity: 1;
    background-size: cover;
    // background-color: #ccc;
    height: 100vh;
    min-width: 1500px;
    min-height: 750px;
    &Position{
      min-height: 500px;
      height: 75%;
    }
    &Context{
      height: 100px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 100px;
      
      .loginPageButton{
        height: 50px;
        font-size: 40px;
        color: #00d9ff;
        border: 0px;
        background-color: transparent;
      }
    }
}