.layout {
  height: 100vh;
  width: 100%;
  min-width: 1500px;
  min-height: 750px;
  padding: 0px;
  margin: 0px;
  background:url(../../assets/background/mainBackground.png) no-repeat;
  background-color: #041A54;
  opacity: 1;
  background-size:cover;
  display: flex;
  flex-direction: column;
  &Header{
    height: 50px;
    min-width: 1500px;
  }
  &Container{
    min-width: 1500px;
    min-height: 700px;
    flex:1;
  }
}